.ui-grid-row div {
    padding: 4px 10px
}
        
.ui-grid-row div label {
    font-weight: regular;
}

.ui-datatable .ui-datatable-data td {
    border: 1px solid #ff3300;
    background-color: #f2f2f2;
}

.ui-datatable .ui-datatable-data .values1 {
    border: 1px solid #ff3300;
    background-color: #f2f2f2;
}

p-dataTable p-column .wrapword{
white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
white-space: pre-wrap;       /* css-3 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
word-break: break-all;
white-space: normal;

}
